# Publish to PyPI
# name: Publish to PyPI
# on:
#   push:
#     paths:
#       - "setup.py"

# jobs:
#   build:
#     name: Build
#     runs-on: ubuntu-latest
#     environment:
#       name: "pypi"
#       url: https://pypi.org/p/fidelity-api
#     permissions:
#       id-token: write
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4
#       - name: Build and Publish
#         uses: lsst-sqre/build-and-publish-to-pypi@v2
#         with:
#           python-version: "3.11"
#           upload: ${{ github.ref == 'refs/heads/main' }}

name: Publish to PyPI

on:
  push:
    branches:
      - main
    paths:
      - "setup.py"

jobs:
  build:
    name: Build and Publish
    runs-on: ubuntu-latest

    environment:
      name: "pypi"
      url: https://pypi.org/p/fidelity-api

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup python environment
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.11"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
